<div class="container-fluid mt-auto">
    <footer id="footer" class="text-center text-lg-start">
        <div class="container d-flex justify-content-center">
            <a class="footer-link" href="">
                <i class="bi bi-github"></i>
            </a>
            <a class="footer-link" href="">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <p style="color: white;">Ingrid Llorente 2026</p>
    </footer>
</div>